<h2 mat-dialog-title>Todo Detail</h2>
<ng-container *ngTemplateOutlet="warningMessages"></ng-container>

<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <div class="row">
    <fieldset class="form-group col-md-6">
      <label>Title</label>
      <input
        class="form-control"
        type="test"
        name="title"
        formControlName="title"
      />
    </fieldset>
    <fieldset class="form-group col-md-6">
      <label>Target Date</label>
      <input
        class="form-control"
        type="date"
        min="{{ TODAYS_DATE }}"
        name="targetDate"
        formControlName="targetDate"
      />
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="form-group col-md-12">
      <label>Description</label>
      <textarea
        class="form-control"
        type="text-area"
        name="description"
        formControlName="description"
      ></textarea>
    </fieldset>
  </div>

  <button class="btn btn-success" type="submit">
    Save
  </button>
  <button
    class="btn btn-default float-right"
    type="button"
    (click)="onCancel()"
  >
    Cancel
  </button>
</form>

<ng-template #warningMessages>
  <div class="alert alert-warning" *ngIf="isFormInvalid()">
    {{ pickUpWarningMessage() }}
  </div>
</ng-template>
